.self-evaluation-help-popin .overlay {
  display: none;
}
.self-evaluation-help-popin .self-evaluation-help-popin__title {
  text-align: center;
}
.self-evaluation-help-popin .self-evaluation-help-popin__content {
  display: none;
  position: absolute;
}
.self-evaluation-help-popin .self-evaluation-help-popin__content .wrapper {
  max-height: 100%;
}
.self-evaluation-help-popin .self-evaluation-help-popin__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.self-evaluation-help-popin .self-evaluation-help-popin__open,
.self-evaluation-help-popin .self-evaluation-help-popin__close {
  background: black;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  color: white;
  height: 1.8rem;
  text-align: center;
  width: 1.8rem;
}
.self-evaluation-help-popin.open .overlay {
  background: rgba(0, 0, 0, 0.3);
  display: block;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 4;
}
.self-evaluation-help-popin.open .overlay:hover {
  cursor: pointer;
}
.self-evaluation-help-popin.open .self-evaluation-help-popin__content {
  background: wheat;
  border-radius: 2rem;
  display: block;
  left: 50%;
  max-height: 60vh;
  min-height: 40vh;
  padding: 2rem 3rem;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70vw;
  z-index: 5;
  overflow-y: scroll;
}
