.toolbar-icon-self-evaluation-admin-self-evaluation:before {
  background-image: url(../icons/toolbar-icon.svg);
}

.active-trail {
  margin: 15px 0;
}

.active-trail span::after {
  content: ">";
  margin: 0 5px;
}

.active-trail span:last-of-type::after {
  display: none;
}
