.user-choices-toggled .user-choices-toggled__content {
  background: antiquewhite;
  border-radius: 2rem;
  display: none;
  margin-top: 1rem;
  padding: 1.6rem 1.5rem;
}
.user-choices-toggled.open .user-choices-toggled__content {
  display: block;
}
