{#
/**
 * @file
 * Theme help popin implementation to present a theme entity.
 *
 * This template is used when viewing a self evaluation with help popin enabled,
 *
 * Available variables:
 *  - wrapper_attributes : tha attributes for the wrapper.
 *  - title: The help popin for the title (default to short name).
 *  - content: Content of the popin.
 *  - current_theme : the self evaluation theme entity.
 */
#}

{{ attach_library('self_evaluation/help_popin') }}
<div{{ wrapper_attributes }}>
  <div class="overlay"></div>
  <div class="self-evaluation-help-popin__title">
    {{ title }}
    <button type="button" class="self-evaluation-help-popin__open" title="{{ 'Open popin'|t }}">?</button>
  </div>
  <div class="self-evaluation-help-popin__content">
    <div class="wrapper">
      {% if title %}
      <h2>{{ title }}</h2>
      {% endif %}
      {{ content }}
    </div>
    <button type="button" class="self-evaluation-help-popin__close" title="{{ 'Close popin'|t }}">X</button>
  </div>
</div>
