{#
/**
 * @file
 * Default theme implementation to render the dashboard user.
 *
 * This template is used when rendering the dashboard user.
 *
 * Available variables:
 * - title: The title.
 * - attributes: HTML attributes for the container element.
 * - current_user : Current Entity User.
 * - dashboard_default: the default dashboard build.
 *
 * @see SelfEvaluationDashboardController::build()
 */
#}
<div{{ wrapper_attributes }}>
  {% if title %}
    <h1 class="title">{{ title }}</h1>
  {% endif %}
  <div class="self-evaluations-dashboards">
    {{ dashboards }}
  </div>
</div>
