{#
/**
 * @file
 * group of user choices on a self-evaluation result in toggle box.
 *
 * This template is used when viewing a self evaluation answer with answers details enabled,
 *
 * Available variables:
 *  - attributes : tha attributes for the wrapper.
 *  - open_text: The "open button" title.
 *  - questions: array of renderable user choices.
 */
#}
{{ attach_library('self_evaluation/user_choices_toggled') }}


<div {{ attributes.addClass('user-choices-toggled') }}>
  <button class="user-choices-toggled__opener">
    {{ open_text ?? 'Display answers'|t }}
  </button>
  <div class="user-choices-toggled__content">
    {{ questions }}
  </div>
</div>
