{#
/**
 * @file
 * Default theme implementation to render the results per theme.
 *
 * This template is used when rendering the results per theme.
 *
 * Available variables:
 * - title: The title.
 * - themes_result: An array of theme result.
 * - attributes: HTML attributes for the container element.
 * - answer_chart: A chart element.
 * - answer: The answer entity.
 * - self_evaluation: The self evaluation entity.
 *
 * @see SelfEvaluationResultController::buildForm()
 */
#}
<div{{ attributes }}>
  <h1 class="title">{{ title }}</h1>
  {% if update_visibility_link is not empty %}
    {{ update_visibility_link }}
  {% endif %}
  {% if answer_chart is not empty %}
    <div class="chart">
      {{ answer_chart }}
    </div>
  {% endif %}
  {% if buttons is not empty %}
    <div class="results-buttons">
      {{ buttons }}
    </div>
  {% endif %}
  <div class="results">
    {{ answer_result }}
  </div>
</div>
