{#
/**
 * @file
 * Default theme implementation to render a the self evaluation login element.
 *
 * This template is used when rendering the login text and link when starting
 * a self evaluation for anonymous.
 *
 * Available variables:
 * - text: The text displayed.
 * - login_title: The link title.
 * - login_url: The url.
 * - attributes: HTML attributes for the container element.
 * - login_attributes: HTML attributes for the current element.
 *
 * @see SelfEvaluationStepForm::buildForm()
 */
#}
<div{{ attributes }}>
  <div class="text">{{ text }}</div>
  <div class="link">
    <a{{ login_attributes }} href="{{ login_url }}">{{ login_title }}</a>
  </div>
</div>
