{#
/**
 * @file
 * This template is used when rendering answers visibility link and status.
 *
 * Available variables:
 * - title: The default link title.
 * - url: The update shareable url.
 * - self_evaluation_answer: the self_evaluation_answer entity.
 * - shareable : The current status of the shareable property of the self_evaluation. TRUE ou FALSE
 * - publishable : The current status of the publishable property of the self_evaluation. TRUE ou FALSE
 * - shared : The current status share of the answer.
 * - published : The current status publish of the answer.
 * - attributes: HTML attributes for the container element.
 *
 * @see SelfEvaluationResultController::getUpdateVisibilityLink()
 */
#}
<div{{ attributes }}>
  {% if title and url %}
    <div class="visibility-update">
      <a href="{{ url }}" class="visibility-update-link">{{ title }}</a>
    </div>
  {% endif %}
  {% if shareable %}
    <div class="shareable-status">
      {{ 'Shared'|t }} : {% if shared %}{{ 'Yes'|t }}{% else %}{{ 'No'|t }}{% endif %}
    </div>
  {% endif %}
  {% if publishable %}
    <div class="publishable-status">
      {{ 'Published'|t }} : {% if published %}{{ 'Yes'|t }}{% else %}{{ 'No'|t }}{% endif %}
    </div>
  {% endif %}
</div>
