{#
/**
 * @file
 * This template is used when rendering answers per theme on the close step.
 *
 * Available variables:
 * - title: A default title.
 * - self_evaluation: the self_evaluation entity.
 * - answers : The rendered array of answers of the theme.
 * - attributes: HTML attributes for the container element.
 *
 * @see SelfEvaluationCloseForm::getResume()
 */
#}
<div{{ attributes }}>
  {% if title %}
    <div class="title">{{ title }}</div>
  {% endif %}
  <div class="answers">
    {{ answers }}
  </div>
</div>
