{#
/**
 * @file
 * Default theme implementation to present a theme threshold entity.
 *
 * This template is used when viewing a registered self evaluation theme threshold's page,
 * e.g., /admin/content/self-evaluation-theme-threshold)/123. 123 being the self evaluation theme threshold's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 * - view_mode: The current view mode.
 * - entity: The entity.
 *
 * @see template_preprocess_self_evaluation_theme_threshold()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
