{#
/**
 * @file
 * Default theme implementation to render the groupments type step.
 *
 * This template is used when rendering the groupments type step.
 *
 * Available variables:
 * - title: A default title.
 * - self_evaluation: the self_evaluation entity.
 * - list_groupments_type : List of groupments type with options.
 * - attributes: HTML attributes for the container element.
 *
 * @see FormStepsMode::buildGroupmentsType()
 */
#}
<div{{ attributes }}>
  <p class="title">{{ title }}</p>
</div>
