{#
/**
 * @file
 * Default theme implementation to present a self evaluation computed thematic score entity.
 *
 * This template is used when viewing a registered self evaluation computed thematic score's page,
 * e.g., /admin/self-evaluation/content/self-evaluation-computed-thematic-score)/123. 123 being the self evaluation computed thematic score's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 * - view_mode: The current view mode.
 * - entity: The entity.
 *
 * @see template_preprocess_self_computed_thematic_score()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
