{#
/**
 * @file
 * Default theme implementation to render the dashboard user.
 *
 * This template is used when rendering the dashboard user.
 *
 * Available variables:
 * - title: The title.
 * - attributes: HTML attributes for the container element.
 * - self_evaluation : the self_evaluation entity.
 * - finished: an array of finished answers.
 * - current: an array f current answers.
 * - The structure of finished an current array is :
 *   - answer: The self_evaluation answer entity
 *   - url => The answser url.
 *   - date => The answer date formatted.
 *   - link => A default link with the data formatted as title and the answer url.
 *
 * @see SelfEvaluationDashboardManager
 */
#}
<div{{ attributes }}>
  {% if title %}
    <h2>{{ title }}</h2>
  {% endif %}
  {% if finished %}
    <div class="finished">
    {% for item in finished %}
      <div class="self-evaluation-answer">
        <span class="answer-date">{{ item.date }}</span><span class="answer-link">{{ item.link }}</span>
      </div>
    {% endfor %}
    </div>
  {% endif%}
  {% if current %}
    <div class="current">
      <p>{{ 'Current self evaluation'|t }}</p>
      {% for item in current %}
        <div class="self-evaluation-answer">
          <span class="answer-date">{{ item.date }}</span><span class="answer-link">{{ item.link }}</span>
        </div>
      {% endfor %}
    </div>
  {% endif%}
  {% if start %}
    <div class="new">
      {{ start.link }}
    </div>
  {% endif%}
</div>
