{#
/**
 * @file
 * Default theme implementation to render a theme step counter.
 *
 * This template is used when rendering a theme step counter.
 *
 * Available variables:
 * - title: A default title : Theme.
 * - current: The current step.
 * - total: The total of steps.
 * - current_theme: The current self evaluation theme entity.
 * - attributes: HTML attributes for the container element.
 * - current_attributes: HTML attributes for the current element.
 * - total_attributes: HTML attributes for the total element.
 *
 * @see FormStepsMode::buildThemes()
 */
#}
<div{{ attributes }}>
  <span class="title">{{ title }}</span> <span{{ current_attributes }}>{{ current }}</span><span class="current-total-separator">/</span><span{{ total_attributes }}>{{ total }}</span>
</div>
