{#
/**
 * @file
 * Default theme implementation to render a result for theme.
 *
 * This template is used when rendering a theme result.
 *
 * Available variables:
 * - title: The theme title.
 * - description: The theme description.
 * - attributes: HTML attributes for the container element.
 * - content: the renderable array of the threshold entity for the result view_mode.
 * - note : The note for the theme.
 * - note_max: The maximum note for the theme.
 * - user_answers: Renderable array of user's choices into a togglable box.
 * - answer: The answer entity.
 * - self_evaluation: The self evaluation entity.
 * - threshold: The threshold entity.
 * - current_theme: The current theme.
 *
 * @see SelfEvaluationResultController::buildForm()
 */
#}

<div{{ attributes }}>
  <h2 class="title">{{ title }}</h2>
  <div class="content">
    {{ content }}
  </div>
  {{  user_answers }}
</div>
