{#
/**
 * @file
 * This template is used when rendering answers summary on the close step.
 *
 * Available variables:
 * - title: A default title.
 * - self_evaluation: the self_evaluation entity.
 * - resume : The rendered array of answers of the theme.
 * - attributes: HTML attributes for the container element.
 *
 * @see SelfEvaluationCloseForm::getResume()
 */
#}
<div{{ attributes }}>
  {% if title %}
    <div class="resume-title">{{ title }}</div>
  {% endif %}
  <div class="resume-wrapper">
    {{ resume }}
  </div>
</div>
